<p id="notice"><%= notice %></p>

<% if user_signed_in? && current_user.current_meeting %>
  <div class="alert alert-info" role="alert">
    <%= current_user.current_book.id %>번 북과 데이트 중이에요^^ 
        <%= simple_form_for current_user.current_meeting do |f| %>
          <%= f.hidden_field :end_datetime, value: Time.now %>
          <%= f.submit "데이트 끝내기" %>
        <% end %>

    </div>
<% end %>

<h1>Listing Books</h1>



<table class="table table-striped">
  <thead>
    <tr>
      <th>NO.</th>
      <th>description</th>
      <th>상태</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
      <% @books.each do |book| %>    
      <tr>
        <td><%= book.id %></td>
        <td><%= book.tag_list %><small>( <%= book.comments.size %> )</small></td>
        <td>
          <% if book.available? %>
            데이트 가능
          <% else %>
            데이트 중
          <% end %>
        </td>
        <td><%= link_to 'Show', book %></td>
             

        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
