<p id="notice"><%= notice %></p>

<p>
  <strong>NO.</strong>
  <%= @book.id %>
</p>

    <% if current_user.name == "허석영" or book.user_id == current_user.id %>
      <p><strong>책이름: </strong><%= @book.title %></p>  
    <% end %>

<p>
  <strong>주선자: </strong>
  <%= @book.user_id %>
</p>
      

<p>
  <strong>Description</strong>
  <%= @book.tag_list %>
</p>

<% current_meeting = @book.current_meeting %>

<p>
  <strong>상태: </strong>
	    <% if @book.available? %>
          데이트 가능
      <% else %>
          데이트 중 with <strong><%= current_meeting.user.name %></strong>
    
    	<% if current_user.name == "허석영" or book.user_id == current_user.id %>
          (<%= current_meeting.user.phone_number %>)</p>  
      <% end %>
        	<p>데이트 시작일: <%= current_meeting.start_datetime %></p>	
    			<p>데이트 마감일: <%= current_meeting.start_datetime + 21.days %></p>	
    	<% end %>
</p>

		<% if @book.available? && current_user.current_meeting.nil? %>
			<%= simple_form_for @meeting do |f| %>
				<%= f.hidden_field :user_id %>
				<%= f.hidden_field :book_id %>
				<%= f.submit "데이트 시작" %>
			<% end %>
		<% end %>

<%= render "comments/comments" %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', books_path, method: :delete, data: { confirm: 'Are you sure?'} %> |
<%= link_to 'Back', books_path %>
