<!DOCTYPE html>
<html>
<head>
  
  <title>Bdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
  	<%= link_to "Blind Book", root_path, class: "navbar-brand" %>
	</div>
		<ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "navbar-brand" %>
      <% else %>
			  <%= link_to "Log in", new_user_session_path, class: "navbar-brand" %>
      <% end %>
		</ul>
	</div>
</nav>

<div class ="container" >

<%= yield %>

</div>

</body>
</html>
